<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chicken Detector</title>
    <!-- <link href="./style.css" rel="stylesheet" type="text/css" media="all" /> -->
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <div class="container">
      <header>
        <p class="title">C</p>
        <p>hicken</p>
        <p class="title titleD">D</p>
        <p>etector</p>
      </header>
      <div class="topPage">
        <img class="zombieImg" src="../static/css/images/zombie.png" alt="" />
        <div class="overview">
          <p class="fadein txt01">臆病者「Chicken」を<br /></p>
          <p class="fadein txt02">画像解析で見つけ出そう</p>
        </div>
        <button onclick="location.href='/movie'" class="button">
          <p>動画投稿ページへ</p>
        </button>
      </div>
      <footer>Haruthon All Rights Reserved.</footer>
    </div>
  </body>
</html>
