<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/css/movie.css" rel="stylesheet" />
    <title>動画投稿ページ</title>
    <style></style>
  </head>

  <body class="zentai">
    <header>
      <p class="title">C</p>
      <p>hicken</p>
      <p class="title titleD">D</p>
      <p>etector</p>
    </header>
    <div>
      <div>
        <form
          class="dai"
          action="./result"
          method="post"
          enctype="multipart/form-data"
        >
          <div>
            <input
              type="file"
              name="test"
              accept="video/mp4"
              class="douga"
              required
            />
          </div>
          <div>
            <div class="setumei">
              <p>左の「ファイルを選択」から動画を送信してください</p>
              <p>動画からフレームごとに画像を読み取り感情を分析します</p>
              <p>それによりあなたのチキン度を算出します</p>
              <p>みなさんの中で一番ビビりな人を見つけられます</p>
              <p>ぜひみんなで肝試ししよう</p>
            </div>
            <div>
              <input type="submit" value="結果発表ページへ" class="kekka" />
            </div>
          </div>
        </form>
      </div>
      <footer>Haruthon All Rights Reserved.</footer>
    </div>
  </body>
</html>